body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#phimg {
  width: 104px;
}

.cart-item {
  position: absolute;
  left: 186px;
  line-height: 22px;
  display: flex;
}

.right-block {
  left: 12px;
  position: relative;
}
.cart-item-actions img{
  width: 25px;
height: 25px;
margin-left: 5px;
margin-top: 10px;
}
.cart-item-actions :hover{
  cursor: pointer;
}